<?php
// @desc: default balafon css configuration
// @variable: 


/**
 * @var mixed $def
 * @var mixed $css_m
 */
// + | after loading google font with igk_google_addfont function we can 
// $def[$css_m.""] = "(:.google-Roboto)"; 